@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Information"]</h1>
    <a asp-controller="Book" asp-action="List" class="btn btn-primary">Danh sách sách đang bán</a>
    @if (ViewData["Username"] != null)
    {
        <hr />
        <a asp-controller="Bill" asp-action="YourBills" class="btn btn-secondary">Hóa đơn của bạn</a><br /><br>
        <a asp-controller="CartsDetails" asp-action="YourCart" class="btn btn-warning">Xe hàng của bạn</a>
    }
</div>
